NEXT_PUBLIC_API_URL=http://localhost:8000/v1
NEXT_PUBLIC_APP_NAME=CoachPro
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_51N82beLyZppAXKgs4HQcpzWIZHLEFhtmgsUyf3rm10ib3aiDWKcSEYW9qX5H30amWULXLcxBu5VHQ8YB4XWUWTpZ00RGApoWGu

# Pro tier price IDs
NEXT_PUBLIC_STRIPE_PRICE_PRO=price_pro_monthly
NEXT_PUBLIC_STRIPE_PRICE_PRO_MONTHLY=price_pro_monthly
NEXT_PUBLIC_STRIPE_PRICE_PRO_QUARTERLY=price_pro_quarterly
NEXT_PUBLIC_STRIPE_PRICE_PRO_SEMI_ANNUAL=price_pro_semi_annual
NEXT_PUBLIC_STRIPE_PRICE_PRO_ANNUAL=price_pro_annual

# Business tier price IDs
NEXT_PUBLIC_STRIPE_PRICE_BUSINESS=price_business_monthly
NEXT_PUBLIC_STRIPE_PRICE_BUSINESS_MONTHLY=price_business_monthly
NEXT_PUBLIC_STRIPE_PRICE_BUSINESS_QUARTERLY=price_business_quarterly
NEXT_PUBLIC_STRIPE_PRICE_BUSINESS_SEMI_ANNUAL=price_business_semi_annual
NEXT_PUBLIC_STRIPE_PRICE_BUSINESS_ANNUAL=price_business_annual

NEXT_PUBLIC_STRIPE_SUCCESS_URL=https://localhost:3000/subscription/success
NEXT_PUBLIC_STRIPE_CANCEL_URL=https://localhost:3000/subscription/cancel